/*@import url('http://fonts.googleapis.com/css?family=Brawler|Titillium+Web:400,700');*/
@font-face {
  font-family: 'Brawler';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Brawler.eot);
  src: local('Brawler'), url(../fonts/Brawler.eot) format('embedded-opentype'), url(../fonts/Brawler.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Titillium+Web.eot');
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url('../fonts/Titillium+Web.eot') format('embedded-opentype'), url('../fonts/Titillium+Web.woff') format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Titillium+WebBold.eot');
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url('../fonts/Titillium+WebBold.eot') format('embedded-opentype'), url('../fonts/Titillium+WebBold.woff') format('woff');
}
body{
    font-size: 12px;
}
table, td, th {
    //border: 1px solid #686868;
    text-align: left;
}

table {
    border: 1px solid #686868;
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 5px;
}

td {
    text-align: center;
    padding: none;
}
/*table{
    border: 1px #000 solid;
    width:650px;
    height:850px;
}
th {
    padding: 15px;
    text-align: left;
}
td {
    padding: 15px;
    text-align: left;
}*/